<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <h1>Welcome to Puzzles!</h1>
  <img src="https://38.media.tumblr.com/7f226021b5495db9c7924210b0c3f807/tumblr_n03fhmqQs11r4w3o0o1_250.gif" />
  <img src="https://33.media.tumblr.com/16d0598a53645cc49c7e3ccb65b105f5/tumblr_n03fhmqQs11r4w3o0o3_250.gif" />
  <img src="https://38.media.tumblr.com/7cb49d3a416f7320ba4d978252df80d8/tumblr_n03fhmqQs11r4w3o0o5_250.gif" />
</body>
</html>